

<!--modal content for delete button-->
<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title">Alert</h4>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to delete this?</p>
  </div>
  <div class="modal-footer">
    <!--button to cancel delete-->
    <button type="button" class="btn btn-secondary" ng-click = 'dc.cancelDel()'>Cancel</button>
    <!--button to confirm delete-->
    <button type="button" class="btn btn-primary" ng-click = 'dc.confirmDel()'>Okay</button>
  </div>
</div>
