<div class="col-lg-2 ">
    <div class="text-center"><i class="fa fa-info-circle" aria-hidden="true"></i></div>
    <div>Information</div>
</div>
<div class="col-lg-2">
    <div class="text-center"><i class="fa fa-calendar-o" aria-hidden="true"></i></div>
    <div>Parameters</div>
</div>
<div class="col-lg-offset-8 pull right" >
        <button type="button" class=" col-lg-2  btn btn-secondary" data-ng-click=" vm.previous()"><i class="fa fa-angle-left" aria-hidden="true"></i></button>
        <button type="button" class=" col-lg-8 btn btn-secondary" data-dismiss="modal" data-ng-hide = "vm.showSaveButton" data-ng-click="vm.generateDatatoTable()">Generate</i></button> 
        <button type="button" class=" col-lg-8 btn btn-secondary"data-dismiss="modal" data-ng-show="vm.showSaveButton" data-ng-click="vm.saveEdited()">Save</i></button> 
    </div>