 <div class="col-lg-2 ">
    <div class="text-center"><i class="fa fa-info-circle" aria-hidden="true"></i></div>
    <div>Information</div>
</div>
<div class="col-lg-2">
    <div class="text-center"><i class="fa fa-calendar-o" aria-hidden="true"></i></div>
    <div>Parameters</div>
</div>
<div class="col-lg-offset-10 pull right" >
    <button type="button" class=" col-lg-8 btn btn-secondary"data-dismiss="modal" data-ng-click="vm.saveEdited()" data-ng-show="vm.showSaveButton">Save</i></button>
    <button type="button" class=" col-lg-2  btn btn-secondary" data-ng-click=" vm.next()"><i class="fa fa-angle-right" aria-hidden="true"></i></button>
</div>