
			<div class="col-md-12 col-lg-12 title text text-center">
				<div class="col-md-offset-2 col-lg-offset-2 col-md-2 col-lg-2"><h4>Frequency Type</h4></div>
				<div class="col-md-1 col-lg-1"><h4>Start Date</h4></div>
				<div class="col-md-3 col-lg-3"><h4>End Date</h4></div>
				<div class="col-md-2 col-lg-2"><h4>Total Cash <br>With Tax</h4></div>
				<div class="col-md-2 col-lg-2"><h4>Action</h4></div>
			</div>
			<div class="table">
				<table class="col-md-12 col-lg-12">
					<tbody data-ng-repeat = '(key,value) in mp.tableDetails' >
						<tr style="padding-top: 10px;"class="col-md-12 sidearrow accordion-toggle" data-toggle="collapse" data-target="#{{$index}}">
							<td>{{key}}</td>	
						</tr>

						<tr>
							<td colspan="12" class="hiddenRow">
								<div class="accordian-body collapse" id="{{$index}}">
									<table class="table table-responsive col-md-12 innerTable">
										<tbody data-ng-repeat="rowData in value">
											<tr class="text-center">
												<td class="col-md-2 col-lg-2 text-center"><i class="fa fa-hourglass-half" aria-hidden="true"></i></td>
												<td class="col-md-2 col-lg-2 text-center">{{rowData.selectedfrequencyData}}</td>
												<td class="col-md-2 col-lg-2 text-left">{{rowData.paymentStart}}</td>
												<td class="col-md-2 col-lg-2 text-left">End Date</td>
												<td class="col-md-2 col-lg-2 ">0.00</td>
												<td class="col-md-2 col-lg-2 text-center">
													<i class="col-md-6 col-lg-6 fa fa-pencil" aria-hidden="true" data-ng-click="mp.edit(key,$index,rowData)"></i>
													<i class="col-md-6 col-lg-6 fa fa-times" aria-hidden="true" data-ng-click="mp.delete(key,$index)"></i>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		

		<button type="button" data-ng-click="mp.openModal()" class="addButton col-md-12 col-lg-12">
				+Add
		</button>

	